<!DOCTYPE html>
<html>

  <head>
    <title>BetaWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="body-login">
     
     <div class="container">
      
      <div class="d-flex align-items-center justify-content-center">
        <div class="card mt-5" style="width: 18rem">
          <div class="card-body text-left shadow">
            <%= yield %>
          </div>
        </div>
      </div>

     </div>


  </body>
</html>
