<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Add Team Member <h3 class="text-primary">[<%= @team.team_name %>]</h3></h>   
</div>

<div class="d-flex align-items-center justify-content-center">
    
    <div class="card card-bg m-2 mt-5">

        <div class="card-body">

            <%= form_with url: "/teams/#{params[:team_id]}/members/new", method: :get do |f| %>
                
                <div class="mb-3">
                    <%= f.label :search_username, class: "form-label" %>
                    <%= f.text_field :search_username, class: "form-control", autofocus: true %>
                </div>      

                <div class="mb-3">
                    <%= f.submit "Search", class: "btn btn-custom1"%>
                </div>

            <% end %>

        </div>

    </div>
    
</div>



<div class="container m-3">
    <% if notice.present? %>
        <div class="alert alert-success" role="alert">
            <%= notice %>
        </div
    <% end %>

    <% if flash[:error].present? %>
        <div class="alert alert-warning" role="alert">
        <%= flash[:error] %>
        </div>
    <% end %>

    <% if @user.present? %>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
            
                    <table class="table table-striped table-sm">
                        
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">USERNAME</th>
                                <th scope="col">FULL NAME</th>
                                <th scope="col">ACTION</th>
                            </tr>
                        </thead>

                        <tbody>

                            <% @user.each_with_index do |tr, index| %>
                                <tr>
                                    <td><%= index+=1%></td>
                                    <td><%= tr.username %></td>
                                    <td><%= tr.first_name + " " +tr.last_name %></td>
                                    
                                    <td>
                                        
                                        <% if tr.teams.find_by(id: params[:team_id]).present? %>
                                            already
                                        <% elsif Team.find_by(id: params[:team_id]).team_members.find_by(user_id: tr.id) %>
                                            already
                                        <% else %>
                                        
                                            <%= form_with model: @team_member do |f| %>

                                                <%= f.hidden_field :user_id, value: tr.id %>
                                                <%= f.hidden_field :team_id, value: params[:team_id] %>
                                                
                                                <%= f.submit "Add", class: "btn btn-sm btn-custom1 text-white"%>
                                    
                                            <% end %>

                                        <% end %>
                                        

                                    </td>

                                </tr>
                            <% end %>
                            
                        </tbody>
                        
                    </table>

                </div>
            </div>
        </div>

    <% else %>
        <div class="alert alert-warning" role="alert">
            data tidak ditemukan
        </div>
    <% end %>
</div>
 